<div class="wrapper">
    <aside class="side border border-white">
        <%# Course Image or Video %>
        <div class="w-full h-fit border border-white p-4">
            <%= image_tag 'rails7_course.png' %>
        </div>
        <%# Table of contents %>
        <div class="p-4">
            <h3 class="text-xl mb-4">Table of contents</h3>
            <p>1. Fundamentals</p>
            <p>     1.1 Ruby </p>
        </div>
    </aside>
    <main class="content xl:ml-16 w-full">
        <div class="border border-white px-8 lg:px-12 py-8">
            <%# Title and Price  %>
            <div class="flex justify-between">
                <h2 class="text-2xl">Ruby on Rails : Master the fundamentals</h2>
                <p class="text-xl">49€</p>
            </div>
            <%# Course Description %>
            <div class="mt-16">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Nullam vel felis sit amet justo scelerisque gravida in nec sem. 
                    Duis viverra hendrerit odio, a dignissim erat varius quis. In sed nulla sodales, dapibus leo in, ultrices nunc.
                    Nunc sit amet justo in elit hendrerit porta. Donec quis ex non odio luctus sagittis sed iaculis ipsum. 
                    Vivamus a pulvinar leo. 
                    Nunc accumsan iaculis molestie. 
                    Aenean sed risus tristique, hendrerit orci at, tincidunt ligula. 
                    roin at quam diam. Etiam vehicula, ante in accumsan imperdiet, justo est ultrices nisi, dignissim pretium erat nunc a orci. 
                    Donec faucibus nulla sed commodo eleifend. Phasellus luctus, erat et lobortis ultricies, risus dui ultrices eros, non tempor quam lectus ut metus. 
                    Mauris non tortor risus. Aenean ultrices condimentum nunc. Nam consectetur vulputate velit, id laoreet est lacinia a. Nam volutpat vel risus ut luctus.
                    Praesent nec purus id est gravida euismod vitae tristique nisl. Vivamus eu tempor mi, quis posuere lacus. In sit amet leo neque. Vestibulum sodales justo ante, vel maximus est bibendum id.
                </p>
                <br/>
                <button class="bg-green-400 rounded-lg px-4 py-2 w-full mt-4">Purchase</button>
            </div>
        </div>
    </main>
</div>