<div>
  <h2 class="font-bold text-3xl">My courses</h2>
  <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4 my-4">
    <div class="w-[281px] h-[281px] border border-neutral-500"></div>
    <div class="w-[281px] h-[281px] border border-neutral-500"></div>
    <div class="w-[281px] h-[281px] border border-neutral-500"></div>
  </div>
  <h2 class="font-bold text-3xl mb-4">Available courses</h2>
  <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4 my-4">
    <div class="w-[281px] h-[281px] border border-neutral-500"></div>
    <div class="w-[281px] h-[281px] border border-neutral-500"></div>
    <div class="w-[281px] h-[281px] border border-neutral-500"></div>
    <div class="w-[281px] h-[281px] border border-neutral-500"></div>
    <div class="w-[281px] h-[281px] border border-neutral-500"></div>
  </div>
</div>
